
<div class=rootpage>

  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    
    <!-- logo section -->
    <div class="col-md-2">
      <a class="navbar-brand" routerLink="/dashboard">
        SealQL
      </a>
    </div>


    <!-- link section -->
    <div class="col-md-10">
      <ul class="nav justify-content-end">

        <li class="nav-item">
          <a routerLink="/citizen-sci-bulk-upload" class="nav-link">Citizen Bulk Upload</a>
        </li>

        <li class="nav-item" *ngIf="isSuperAdmin">
          <a routerLink="/manage-accounts" class="nav-link">Manage Accounts</a>
        </li>

        <li class="nav-item" *ngIf="isAdmin">
          <a routerLink="/approve-obs" class="nav-link">Staging</a>
        </li>

        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link">Observations</a>
        </li>

        <li class="nav-item">
          <a routerLink="/upload-seal" class="nav-link">Upload Bulk Data</a>
        </li>

        <li class="nav-item">
          <a routerLink="/sign-in" class="nav-link">Login</a>
        </li>

      </ul>
    </div>

  </nav>

</div>


<router-outlet></router-outlet>


