table {
  width: 80%;
}
.tool-color {
  background-color: #2E343A;
  color: white;
}

a {
  // color: white;
  font-size: 16px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.hack-space {
  padding-left: 20px
}

.btn-light-blue {
  color: #63C2DE;
}

.btn-light-red {
  color: #F86C6B;
}

.btn .btn-admin1 {
  background-color: #73ef92;
  border-radius: 5px;
  width: 22%;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: white;
}

.btn .btn-admin2 {
  background-color: #b770ff;
  border-radius: 5px;
  width: 25%;
  margin-left: 5px;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  color: white;
}

a:hover{
    text-decoration: none;
}

