<!--The content below is only a placeholder and can be replaced.-->
<div class="row">

  <mat-toolbar class="mat-elevation-z4 tool-color">
    <mat-toolbar-row>
      <span class="hack-space"><a routerLink="/dashboard">SealQLTeam6</a></span>
      <div class="col-md-5"></div>
      <ng-container *ngIf="!isAdmin">
        <div class="col-md-3"></div>
      </ng-container>
        <div>
          <ng-container *ngIf="isSuperAdmin">
            <button type="button" class="btn btn-admin1"><a routerLink="/manage-accounts">Manage Accounts</a></button>
          </ng-container>
          <ng-container *ngIf="isAdmin">
            <button type="button" class="btn btn-admin2"><a routerLink="/approve-obs">Staging</a></button>
          </ng-container>
          <button type="button" class="btn"><a routerLink="/dashboard">Observations</a></button>
          <button type="button" class="btn"><a routerLink="/upload-seal">Upload Bulk Data</a></button>
          <button type="button" class="btn"><a routerLink="/sign-in">Login</a></button>

        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
  <router-outlet></router-outlet>


