<h1 class="title is-2 title-container">Reset Password</h1>
<div class="outer-most-container">
    <div class="outer-filter-container">
        <div class="positioned-filter-container">
            <div class="filter-row">
              <div class="filter-row-item">
                <h1 class="title is-3">Username:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">Old Password:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">New Password:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">Confirm Password:</h1>
              </div>
            </div>
            <div class="filter-row">
              <div class="filter-row-item">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
              </div>
              <div class="filter-row-item">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Old Password">
              </div>
              <div class="filter-row-item">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Password">
              </div>
              <div class="filter-row-item">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password Again">
              </div>
            </div>
            <div class="filter-row">
              <div class="filter-row-item">

              </div>
              <div class="filter-row-item">
              
              </div>
              <div class="filter-row-item">
              
              </div>
              <div class="filter-row-item">
            
              </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success button-left">Submit</button>

<button type="button" class="btn btn-success button-left" data-toggle="modal" data-target="#exampleModal">Submit</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password Reset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your password has been reset!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-danger button-right">Cancel</button>
