.table {
  width: 100%;
}

td.mat-cell {
  padding-top: 10px;
}
.btn-edit-user {
  background-color: #28e6ff;
  border-radius: 30px;
  width: 40%;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
}


.btn-edit-user {
  background-color: #28e6ff;
  border-radius: 30px;
  width: 50%;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
}

.btn-rem-user {
  background-color: #F86C6B;
  border-radius: 30px;
  width: 60%;
  font-weight: 500;
  color: white;
  font-size: 11px;
  text-align: center;
}

td {
  width: 5%;
  text-align: left;
  padding-top: 20px;
}


.padded-select {
  margin-top: 14px;
}
