.table {
  width: 100%;
}

.full-width {
  width: 100%;
}

td.mat-cell {
  padding-top: 10px;
}


.center-heading {
  text-align: center;
}

.btn-edit-user {
  background-color: #28e6ff;
  border-radius: 30px;
  width: 40%;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
}


.btn-edit-user {
  background-color: #28e6ff;
  border-radius: 30px;
  width: 50%;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
}

.btn-rem-user {
  background-color: #F86C6B;
  border-radius: 30px;
  width: 60%;
  font-weight: 500;
  color: white;
  font-size: 11px;
  text-align: center;
}

td {
  width: 5%;
  text-align: left;
  padding-top: 20px;
}


.padded-select {
  margin-top: 14px;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 500px;
    overflow: auto;
    height: 300px;
    -webkit-overflow-scrolling: touch;
}

.red-row {
  background: #ff9161;
}

.green-row {
  background: #bfd86d;
}

.yellow-row {
  background: #faf0be;
}

.fixed-image-height {
  height: 50px;
}

.image {
  display: block;
}

.title-container {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}