<br>
<br>

<!-- Row for Bulk Upload Section -->
<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4 mat-elevation-z2">
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align:center">Upload Bulk Seals</h3>
            </div>
        </div>
        <br>

        <br>
        <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-9">
                <button class="btn btn-file-upload" (click)="uploader.click()">Upload CSV</button>
                <input hidden #uploader type="file" accept=".csv" (change)="handleFileSelect($event)">
                <label class="file-name">{{ fileName }}</label>
            </div>
        </div>
        <br>

    </div>
    <br>

</div>


<!-- Row for Single Seal Upload Heading -->
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <h3 style="text-align:center"> Upload Single Seal</h3>
  </div>
</div>
<br>
<br>

<!-- Row for Single Seal Upload Form -->
<div class="row">
    
    <!---->
    <form [formGroup]="sealForm">
      <div class="form-group ">



                <!-- Opening Information Section -->
                <div class="row">
                  
                  <div class="col-md-1"></div>

                  <div class="col-md-10">

                    <div class="border  mat-elevation-z4">
                      <h1 mat-dialog-title>Opening Information Section</h1>
                    
                      

                        <label>
                          Field Leader Initials
                          <input class="form-control" type="text" formControlName="FieldLeaderInitials">
                        </label>

                        <label>
                            Breeding Season Year
                            <input class="form-control" type="text" formControlName="Season">
                        </label>

                        <label>
                          Actual Year
                          <input class="form-control" type="text" formControlName="Year">
                        </label>

                        <label>
                          Date
                          <input class="form-control" type="text" formControlName="Date">
                        </label>

                        <label>
                          Location
                          <input class="form-control" type="text" formControlName="Loc">
                        </label>

                      

                    </div>
                  </div>

                  <div class="col-md-1"></div>
                  
                </div>


                <!-- Tell Us About this Seal -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">
                      
                      <h1 mat-dialog-title>Tell Us About this Seal</h1>

                      <label>
                        Sex
                        <input class="form-control" type="text" formControlName="Sex">
                      </label>


                      <label>
                          Age
                          <input class="form-control" type="text" formControlName="Age">
                      </label>

                      <label>
                          is Pup?
                          <input class="form-control" type="text" formControlName="Pup">
                      </label>

                      <label>
                          Molt %
                          <input class="form-control" type="text" formControlName="Molt">
                      </label>

                      <label>
                          Last Seen as Pup
                          <input class="form-control" type="text" formControlName="lastSeenP">
                      </label>

                      <label>
                          First Seen as Weener
                          <input class="form-control" type="text" formControlName="fstWeen">
                      </label>

                      <label>
                          Age Range (only if a weaner)
                          <input class="form-control" type="text" formControlName="Range">
                      </label>

                      <label>
                        Comments
                        <input class="form-control" type="text" formControlName="Comments">
                      </label>

                      <label>
                          Entered in Año
                          <input class="form-control" type="text" formControlName="enterAno">
                      </label>

                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>



                <!-- Mark Stuff -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">

                      <h1 mat-dialog-title>Marks On Seal</h1>
                      

                        <label>
                          New Mark 1?
                          <input class="form-control" type="text" formControlName="NewMark1">
                        </label>

                        <label>
                          Mark 1
                          <input class="form-control" type="text" formControlName="Mark1">
                        </label>

                        <label>
                          Mark 1 Pos
                          <input class="form-control" type="text" formControlName="Mark1Pos">
                        </label>

                        <label>
                          New Mark 2?
                          <input class="form-control" type="text" formControlName="NewMark2">
                        </label>


                        <label>
                          Mark 2
                          <input class="form-control" type="text" formControlName="Mark2">
                        </label>

                        <label>
                          Mark 2 Pos
                          <input class="form-control" type="text" formControlName="Mark2Pos">
                        </label>


                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>


                <!-- Tag Stuff -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">

                      <h1 mat-dialog-title>Tags On Seal</h1>

                        <label>
                          New Tag 1?
                          <input class="form-control" type="text" formControlName="NewTag1">
                        </label>

                        <label>
                          Tag 1
                          <input class="form-control" type="text" formControlName="Tag1">
                        </label>

                        <label>
                          Tag 1 Pos
                          <input class="form-control" type="text" formControlName="Tag1Pos">
                        </label>


                        <label>
                          New Tag 2?
                          <input class="form-control" type="text" formControlName="NewTag2">
                        </label>

                        <label>
                          Tag 2
                          <input class="form-control" type="text" formControlName="Tag2">
                        </label>
                        
                        <label>
                          Tag 2 Pos
                          <input class="form-control" type="text" formControlName="Tag2Pos">
                        </label>

                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>



                <!-- Measurements Taken -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">

                      <h1 mat-dialog-title>Measurements Taken For Seal</h1>
                      
                      <label>
                          St. Length
                          <input class="form-control" type="text" formControlName="stLength">
                      </label>

                      <label>
                          Crv. Length
                          <input class="form-control" type="text" formControlName="crvLength">
                      </label>

                      <label>
                          Ax. Girth
                          <input class="form-control" type="text" formControlName="axGirth">
                      </label>

                      <label>
                          Mass
                          <input class="form-control" type="text" formControlName="Mass">
                      </label>
                      
                      <label>
                          Tare
                          <input class="form-control" type="text" formControlName="Tare">
                      </label>

                      <label>
                          Mass-Tare
                          <input class="form-control" type="text" formControlName="massTare">
                      </label>


                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>


                <!-- Submit button row -->
                <div class="row text-center">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <form [formGroup]="sealForm" (ngSubmit)="onSubmit()">
                      <button class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                  <div class="col-md-1"></div>
                </div>

                    
            
            

      
      </div>
    </form>
  </div>

  <br>
  <br>
  <br>
  <br>






