.btn-file-upload {
  background-color: #42f483;
  border-radius: 20px;
  width: 33%;
  font-weight: 500;
  width: 125px;
  height: 40px;
  margin-right: 5px;
}

.file-name {
  color: #999a9b;
  font-weight: 400;
  text-align: center;
}

.form {
  width: 100%;
}


.row {
  padding-top: 10px;
}