<br>
<br>

<!-- Row for Bulk Upload Section -->
<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4 mat-elevation-z2">
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align:center">Upload Bulk Seals</h3>
            </div>
        </div>
        <br>

        <br>
        <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-9">
                <button class="btn btn-file-upload" (click)="uploader.click()">Upload CSV</button>
                <input hidden #uploader type="file" accept=".csv" (change)="handleFileSelect($event)">
                <label class="file-name">{{ fileName }}</label>
            </div>
        </div>
        <br>

    </div>
    <br>

</div>


<!-- Row for Single Seal Upload Heading -->
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <h3 style="text-align:center"> Upload Single Seal</h3>
  </div>
</div>
<br>
<br>

<!-- Row for Single Seal Upload Form -->
<div class="row">
    
    <!---->
    <form [formGroup]="sealForm">
      <div class="form-group ">



                <!-- Opening Information Section -->
                <div class="row">
                  
                  <div class="col-md-1"></div>

                  <div class="col-md-10">

                    <div class="border  mat-elevation-z4">
                        
                    
                        <div class="col-sm-1"></div>
                        <div class="col">
                          <h1 mat-dialog-title>Opening Information Section</h1>

                          <label class="mylabel"> 
                            Field Leader Initials
                            <input class="form-control" type="text" formControlName="FieldLeaderInitials">
                          </label>

                          <label class="mylabel">
                              Breeding Season Year
                              <input class="form-control" type="text" formControlName="Season">
                          </label>

                          <label class="mylabel">
                            Actual Year
                            <input class="form-control" type="text" formControlName="Year">
                          </label>

                          <label class="mylabel">
                            Date
                            <input class="form-control" type="text" formControlName="Date">
                          </label>

                          <label class="mylabel">
                            Location
                            <input class="form-control" type="text" formControlName="Loc">
                          </label>
                        </div>
                        <div class="col-sm-1"></div>

                        

                      

                    </div>
                  </div>

                  <div class="col-md-1"></div>
                  
                </div>


                <!-- Tell Us About this Seal -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">
                      
                      


                      <div class=col-sm-1></div>
                      <div class=col>
                        <h1 mat-dialog-title>Tell Us About this Seal</h1>

                        <label class="mylabel">
                          Sex
                          <input class="form-control" type="text" formControlName="Sex">
                        </label>


                        <label class="mylabel">
                            Age
                            <input class="form-control" type="text" formControlName="Age">
                        </label>

                        <label class="mylabel">
                            is Pup?
                            <input class="form-control" type="text" formControlName="Pup">
                        </label>

                        <label class="mylabel">
                            Molt %
                            <input class="form-control" type="text" formControlName="Molt">
                        </label>

                        <label class="mylabel">
                            Last Seen as Pup
                            <input class="form-control" type="text" formControlName="lastSeenP">
                        </label>

                        <label class="mylabel">
                            First Seen as Weaner
                            <input class="form-control" type="text" formControlName="fstWeen">
                        </label>

                        <label class="mylabel">
                            Age Range (only if a weaner)
                            <input class="form-control" type="text" formControlName="Range">
                        </label>

                        <label class="mylabel">
                          Comments
                          <input class="form-control" type="text" formControlName="Comments">
                        </label>

                        <label class="mylabel">
                            Entered in Año
                            <input class="form-control" type="text" formControlName="enterAno">
                        </label>
                      </div>
                      <div class=col-sm-1></div>

                        

                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>



                <!-- Mark Stuff -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">

                      
                      
                      <div class=col-sm-1></div>
                      <div class=col>
                        <h1 mat-dialog-title>Marks On Seal</h1>
                        
                        <label class="mylabel">
                          New Mark 1?
                          <input class="form-control" type="text" formControlName="NewMark1">
                        </label>

                        <label class="mylabel">
                          Mark 1
                          <input class="form-control" type="text" formControlName="Mark1">
                        </label>

                        <label class="mylabel">
                          Mark 1 Pos
                          <input class="form-control" type="text" formControlName="Mark1Pos">
                        </label>

                        <br>

                        <label class="mylabel">
                          New Mark 2?
                          <input class="form-control" type="text" formControlName="NewMark2">
                        </label>

                        <label class="mylabel">
                          Mark 2
                          <input class="form-control" type="text" formControlName="Mark2">
                        </label>

                        <label class="mylabel">
                          Mark 2 Pos
                          <input class="form-control" type="text" formControlName="Mark2Pos">
                        </label>
                      </div>
                      <div class=col-sm-1></div>
                      
                      


                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>


                <!-- Tag Stuff -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">

                      

                        <div class=col-sm-1></div>
                        <div class=col>
                          <h1 mat-dialog-title>Tags On Seal</h1>

                          <label class="mylabel">
                            New Tag 1?
                            <input class="form-control" type="text" formControlName="NewTag1">
                          </label>

                          <label class="mylabel">
                            Tag 1
                            <input class="form-control" type="text" formControlName="Tag1">
                          </label>

                          <label class="mylabel">
                            Tag 1 Pos
                            <input class="form-control" type="text" formControlName="Tag1Pos">
                          </label>

                          <br>

                          <label class="mylabel">
                            New Tag 2?
                            <input class="form-control" type="text" formControlName="NewTag2">
                          </label>

                          <label class="mylabel">
                            Tag 2
                            <input class="form-control" type="text" formControlName="Tag2">
                          </label>
                          
                          <label class="mylabel">
                            Tag 2 Pos
                            <input class="form-control" type="text" formControlName="Tag2Pos">
                          </label>
                        </div>
                        <div class=col-sm-1></div>

                        

                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>



                <!-- Measurements Taken -->
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="border mat-elevation-z4">

                      
                      
                      <div class=col-sm-1></div>
                      <div class=col>
                        <h1 mat-dialog-title>Measurements Taken For Seal</h1>

                        <label class="mylabel">
                            St. Length
                            <input class="form-control" type="text" formControlName="stLength">
                        </label>

                        <label class="mylabel">
                            Crv. Length
                            <input class="form-control" type="text" formControlName="crvLength">
                        </label>

                        <label class="mylabel">
                            Ax. Girth
                            <input class="form-control" type="text" formControlName="axGirth">
                        </label>

                        <label class="mylabel">
                            Mass
                            <input class="form-control" type="text" formControlName="Mass">
                        </label>
                        
                        <label class="mylabel">
                            Tare
                            <input class="form-control" type="text" formControlName="Tare">
                        </label>

                        <label class="mylabel">
                            Mass-Tare
                            <input class="form-control" type="text" formControlName="massTare">
                        </label>  
                      </div>
                      <div class=col-sm-1></div>

                      


                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>


                <!-- Submit button row -->
                <div class="row text-center">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <form [formGroup]="sealForm" (ngSubmit)="onSubmit()">
                      <button class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                  <div class="col-md-1"></div>
                </div>

            
      </div>
    </form>
  </div>

  <br>
  <br>
  <br>
  <br>






