<div class="filter-row">
    <div class="filter-row-item">
      <label class="checkbox">
          <input type="checkbox">
              AND
      </label>
    </div>
    <div class="filter-row-item">
      <label class="checkbox">
          <input type="checkbox">
              OR
      </label>
    </div>
  <div class="filter-row-item main">
      <h6>{{filterName[0]}} = {{filterValue[0]}}</h6>
  </div>
  <div class="filter-row-item main">
      <button type="button" class="btn btn-danger">Remove</button>
  </div>
</div>