.trash {
  color: #F86C6B;
  font-size: 20px;
}

.hippo {
  color: #20A8D8;
  font-size: 20px;
}

th {
  width: 10%;
  text-align: left;
}

td {
  width: 5%;
  text-align: left;
  padding-top: 20px;
}

.lightBlue {
  color: blue;
  size: 50px;
}

td.mat-cell {
  padding-top: 10px;
}

.mat-header-cell {
  font-size: 14px;
  color: #2D333A;
}





