<div>
  <br>
  <br>
  <br>
  <div class="row" *ngIf="authService.userData as user">
<!-- <p>Email: <strong>{{user.email}}</strong></p> -->
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
  <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
</div>

  <div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-10">
        <table mat-table class="table table-hover table-striped" [dataSource]="dataSource">

        <ng-container matColumnDef="ObservationID">
          <th mat-header-cell *matHeaderCellDef> Obs ID </th>
          <td mat-cell *matCellDef="let obs"> {{ obs.ObservationID }} </td>
        </ng-container>

        <ng-container matColumnDef="TagNumber1">
          <th mat-header-cell *matHeaderCellDef> Tag #1 </th>
          <td mat-cell *matCellDef="let obs"> {{ obs.TagNumber1 }} </td>
        </ng-container>

        <ng-container matColumnDef="TagNumber2">
          <th mat-header-cell *matHeaderCellDef> Tag #2 </th>
          <td mat-cell *matCellDef="let obs"> {{ obs.TagNumber2 }} </td>
        </ng-container>

        <ng-container matColumnDef="Mark">
          <th mat-header-cell *matHeaderCellDef> Mark </th>
          <td mat-cell *matCellDef="let obs"> {{ obs.Mark }} </td>
        </ng-container>

        <ng-container matColumnDef="Year">
          <th mat-header-cell *matHeaderCellDef> Breeding Season </th>
          <td mat-cell *matCellDef="let obs"> {{ obs.Year }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row"> <label class="redText" (click)="deleteSeal(row)">delete</label></td>
        </ng-container>

        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row"> <a (click)="selectSeal(row)" class="blueText" >View Seal</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<br>
