
<!-- Beginning of the form -->
<!-- <mat-dialog-content [formGroup]="form"> -->





<div class="page-container" [formGroup]="form">


        <!-- --------------------------------------------------------------------------------------------------------  -->
        <!-- --------------------------------------------------------------------------------------------------------  -->


        <!-- title section-->
        <div class="row">

            <p> New Observation </p>

        </div>


        <!-- --------------------------------------------------------------------------------------------------------  -->
        <!-- --------------------------------------------------------------------------------------------------------  -->


        <!-- body section-->
        <div class="row page-padding">


            


                    <!-- left column -->
                    <div class="col-md-6"> 


                        <mat-card>


                            <p>This is a test</p>

                            <!-- Year -->
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Year: </mat-label>
                                    <input matInput formControlName="year" value="{{observationTuple.year}}" placeholder="2020">
                                    <!-- <mat-error *ngIf="hasError('year', 'pattern')">Input must be a four digit year.</mat-error> -->
                                </mat-form-field>    
                            </p>

                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Date Observation Recorded</mat-label>
                                    <input matInput formControlName="dateOfRecording" [matDatepicker]="observationDatePicker" placeholder="01/01/2020">
                                    <mat-datepicker-toggle matSuffix [for]="observationDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="observationTuple.dateOfRecording" #observationDatePicker></mat-datepicker>
                                    <mat-error *ngIf="hasError('dateOfRecording', 'invalidDateFormat')">Input must be a date MM/DD/YY.</mat-error>
                                </mat-form-field>    
                            </p>

                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Location Code</mat-label>
                                    <input matInput formControlName="locationCode" value="{{observationTuple.locationCode}}"  placeholder="Location Code">
                                </mat-form-field>    
                            </p>


                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Field Leader List</mat-label>
                                    <input matInput formControlName="fieldLeaderList" value="{{observationTuple.fieldLeaderList}}" placeholder="Heather Liwanag">
                                </mat-form-field>    
                            </p>
                            

                        </mat-card>

                        

                        <!-- --------------------------------------------------------------------------------------------------------  -->
                        <!-- --------------------------------------------------------------------------------------------------------  -->


                        <!-- bottom Card -->
                        <mat-card>


                            <div class="filter-row">
                            <div class="filter-row-item">
                                <p>Pups (Age):</p>
                            </div>
                            <div class="filter-row-item left">
                                <input class="form-control" type="text" placeholder="Enter a number">
                            </div>
                            </div>

                             <!-- pup quantity (if mother) -->
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>If mother, # of pups</mat-label>
                                    <input matInput  formControlName="sealHasPupQuantity" value="{{observationTuple.sealHasPupQuantity}}"  placeholder="Seal Has Pup Quantity">
                                </mat-form-field>    
                            </p>
                           

                            <!-- % molt completed -->
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Seal's % Molt Completed</mat-label>
                                    <input matInput formControlName="sealMoltPercentage" value="{{observationTuple.sealMoltPercentage}}" placeholder="50">
                                    <!-- <mat-error *ngIf="hasError('year', 'pattern')">Input must be a four digit year.</mat-error> -->
                                </mat-form-field>    
                            </p>


                             <!-- date first seen as weaner -->
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Date First Seen As A Weaner</mat-label>
                                    <input matInput formControlName="sealFirstSeenAsWeaner" [matDatepicker]="firstSeenAsWeanerDatePicker" placeholder="01/01/2020">
                                    <mat-datepicker-toggle matSuffix [for]="firstSeenAsWeanerDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="observationTuple.sealFirstSeenAsWeaner" #firstSeenAsWeanerDatePicker></mat-datepicker>
                                </mat-form-field>
                            </p>   


                              <!-- is a pup checkbox -->
                            <div class="filter-row-item">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=""> Pup</label>
                                </div>
                            </div>



                            <!-- is procedure checkbox -->
                            <div class="filter-row-item">
                                <div class="checkbox">
                                <label><input type="checkbox" value=""> Is Procedure</label>
                                </div>
                            </div>

                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Seal's % Molt Completed</mat-label>
                                    <input matInput formControlName="sealMoltPercentage" value="{{observationTuple.sealMoltPercentage}}" placeholder="50">
                                    <!-- <mat-error *ngIf="hasError('year', 'pattern')">Input must be a four digit year.</mat-error> -->
                                </mat-form-field>    
                            </p>    


                            <div class="filter-row">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=""> Flag For Review</label>
                                </div>
                            </div>


                                                                
                        </mat-card>

                    </div>
                


            
            

                    <!-- right column -->
                    <div class="col-md-6">
                        <mat-card>
                            
                            <p> this is a test </p>

                            <h2>Animal Identification:</h2>
                            <label class="checkbox-inline left"><input type="checkbox" value="" 
                                onchange="if ($('.search').attr('disabled')) {$('.search').prop('disabled', null); setToNone();} else {$('.search').prop('disabled', true); setToNew();}"> New Seal</label>


                             <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Mark 1: Id Value</mat-label>
                                    <input matInput  formControlName="mark1_idValue" value="{{observationTuple.mark1_idValue}}" placeholder="Mark 1 Id Value">
                                </mat-form-field>
                            </p>
                            


                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Mark 1: is new mark</mat-label>
                                    <input matInput formControlName="mark1_isNew" value="{{observationTuple.mark1_isNew}}" placeholder="(Y/N)">
                                </mat-form-field>    
                            </p>



                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Mark 1: Position Code</mat-label>
                                    <input matInput formControlName="mark1_positionCode" value="{{observationTuple.mark1_positionCode}}" placeholder="(L | R | B)">
                                    <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                                </mat-form-field>    
                            </p>
                            

                        </mat-card>
                        
                    <div>



            

        </div>


<!-- --------------------------------------------------------------------------------------------------------  -->
<!-- --------------------------------------------------------------------------------------------------------  -->


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Request Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 style="text-align:center;">Modal for choosing Seals not yet built, select seal number instead:</h4>
          <div>
            <input class="form-control" type="text" placeholder="Enter a Number">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
