
<!-- Beginning of the form -->
<!-- <mat-dialog-content [formGroup]="form"> -->





<div class="page-container" [formGroup]="form">


        <!-- --------------------------------------------------------------------------------------------------------  -->
        <!-- --------------------------------------------------------------------------------------------------------  -->


        <!-- title section-->
        <div class="row">

            <p> New Observation </p>

        </div>


        <!-- --------------------------------------------------------------------------------------------------------  -->
        <!-- --------------------------------------------------------------------------------------------------------  -->


        <!-- body section-->
        <div class="row page-padding">


            
                  <div style="width: 100%; align-items: right;">

            <button type="button" class="btn btn-outline-dark" (click)="uploadData()">Submit</button>
                  </div>

                    <!-- left column -->
                    <div class="col-md-6"> 


                        <mat-card>


                            <p>Observation Information</p>


                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Date Observation Recorded</mat-label>
                                    <input #daterecorded (input)="observationTuple.dateOfRecording = daterecorded.value" matInput formControlName="dateOfRecording" [matDatepicker]="observationDatePicker" placeholder="01/01/2020">
                                    <mat-datepicker-toggle matSuffix [for]="observationDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="observationTuple.dateOfRecording" #observationDatePicker></mat-datepicker>
                                    <mat-error *ngIf="hasError('dateOfRecording', 'invalidDateFormat')">Input must be a date MM/DD/YY.</mat-error>
                                </mat-form-field>    
                            </p>

                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Location Code</mat-label>
                                    <input #locationcode matInput formControlName="locationCode" (input)="observationTuple.locationCode = locationcode.value"  placeholder="Location Code">
                                </mat-form-field>    
                            </p>


                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Field Leader Initials</mat-label>
                                    <input #fieldleader matInput formControlName="fieldLeaderList" (input)="observationTuple.fieldLeaderList = fieldleader.value" placeholder="Heather Liwanag">
                                </mat-form-field>    
                            </p>
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Comments</mat-label>
                                    <input #comments matInput formControlName="comments" (input)="observationTuple.comments = comments.value"  placeholder="comments">
                                </mat-form-field>    
                            </p>
                            

                        </mat-card>

                        

                        <!-- --------------------------------------------------------------------------------------------------------  -->
                        <!-- --------------------------------------------------------------------------------------------------------  -->


                        <!-- bottom Card -->
                        <mat-card>


                          <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Age</mat-label>
                                <input #age matInput  formControlName="age" (input)="observationTuple.sealAgeCode = age.value"  placeholder="Age">
                            </mat-form-field>    
                        </p>
                        <p>
                          <mat-form-field appearance="outline" class="full-width">
                              <mat-label>Sex</mat-label>
                              <input #sex matInput  formControlName="sealSex" (input)="observationTuple.sealSex = sex.value"  placeholder="Sex">
                          </mat-form-field>    
                      </p>
                       
                      <p>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Harem</mat-label>
                            <input #harem matInput  formControlName="sealSex" (input)="observationTuple.harem = harem.value"  placeholder="Harem">
                        </mat-form-field>    
                    </p>

                             <!-- pup quantity (if mother) -->
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>If mother, # of pups</mat-label>
                                    <input #pups matInput  formControlName="sealHasPupQuantity" (input)="observationTuple.sealHasPupQuantity = pups.value"  placeholder="Seal Has Pup Quantity">
                                </mat-form-field>    
                            </p>


                             <!-- date first seen as weaner -->
                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Date First Seen As A Weaner</mat-label>
                                    <input matInput formControlName="sealFirstSeenAsWeaner" [matDatepicker]="firstSeenAsWeanerDatePicker" placeholder="01/01/2020">
                                    <mat-datepicker-toggle matSuffix [for]="firstSeenAsWeanerDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="observationTuple.sealFirstSeenAsWeaner" #firstSeenAsWeanerDatePicker></mat-datepicker>
                                </mat-form-field>
                            </p>   


                              <!-- is a pup checkbox -->
                            <div class="filter-row-item">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="{{observationTuple.isPup}}"> Pup</label>
                                </div>
                            </div>



                            <!-- is procedure checkbox -->
                            <div class="filter-row-item">
                                <div class="checkbox">
                                <label><input type="checkbox" value="{{observationTuple.isProcedure}}"> Is Procedure</label>
                                </div>
                            </div>

                            <p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Seal's % Molt Completed</mat-label>
                                    <input #molt matInput formControlName="sealMoltPercentage" (input)="observationTuple.sealMoltPercentage = molt.value" placeholder="50">
                                    <!-- <mat-error *ngIf="hasError('year', 'pattern')">Input must be a four digit year.</mat-error> -->
                                </mat-form-field>    
                            </p>    


                            <div class="filter-row">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=""> Flag For Review</label>
                                </div>
                            </div>


                                                                
                        </mat-card>

                    </div>
                


            
            

                    <!-- right column -->
                    <div class="col-md-6">
                        <mat-card>
                            
                            <p> this is a test </p>

                            <h2>Animal Identification:</h2>
                            <label class="checkbox-inline left"><input type="checkbox" checked="{{newSeal}}"> New Seal</label>


                             <p>
                                <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                                    <mat-label>Mark 1: Id Value</mat-label>
                                    <input #markonecode matInput  formControlName="mark1_idValue" (input)="observationTuple.mark1_idValue = markonecode.value" placeholder="Mark 1 Id Value">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                                    <mat-label>Mark 1: Position Code</mat-label>
                                    <input #markonepos matInput formControlName="mark1_positionCode" (input)="observationTuple.mark1_positionCode = markonepos.value" placeholder="(L | R | B)">
                                    <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                                </mat-form-field>    
                            </p>
                            <p>
                              <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                                  <mat-label>Mark 2: Id Value</mat-label>
                                  <input #marktwocode matInput  formControlName="mark2_idValue" (input)="observationTuple.mark2_idValue = marktwocode.value" placeholder="Mark 1 Id Value">
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                                  <mat-label>Mark 2: Position Code</mat-label>
                                  <input #marktwopos matInput formControlName="mark2_positionCode" (input)="observationTuple.mark2_positionCode = marktwopos.value" placeholder="(L | R | B)">
                                  <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                              </mat-form-field>    
                          </p>
                          <p>
                            <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                                <mat-label>Tag 1: Id Value</mat-label>
                                <input #tagonecode matInput  formControlName="tag1_idValue" (input)="observationTuple.tag1_idValue = tagonecode.value" placeholder="Mark 1 Id Value">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                                <mat-label>Tag 1: Position Code</mat-label>
                                <input #tagonepos matInput formControlName="tag1_positionCode" (input)="observationTuple.tag1_positionCode = tagonepos.value" placeholder="(L | R | B)">
                                <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                            </mat-form-field>    
                        </p>

                        <p>
                          <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                              <mat-label>Tag 2: Id Value</mat-label>
                              <input matInput  formControlName="tag2_idValue" value="{{observationTuple.tag2_idValue}}" placeholder="Mark 1 Id Value">
                          </mat-form-field>
                          
                          <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                              <mat-label>Tag 2: Position Code</mat-label>
                              <input matInput formControlName="tag2_positionCode" value="{{observationTuple.tag2_positionCode}}" placeholder="(L | R | B)">
                              <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                          </mat-form-field>    
                      </p>
                            

                        </mat-card>
                        <mat-card>
                          <p>Measurements</p>
                          <div style="display: flex; flex-direction: row;">
                            <div style="display: flex; flex-direction: column;">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Seal's % Molt Completed</mat-label>
                            <input matInput formControlName="sealMoltPercentage" value="{{observationTuple.sealMoltPercentage}}" placeholder="50">
                            <!-- <mat-error *ngIf="hasError('year', 'pattern')">Input must be a four digit year.</mat-error> -->
                        </mat-form-field>    
                          <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                            <mat-label>Axillary Girth</mat-label>
                            <input matInput formControlName="tag2_positionCode" value="{{observationTuple.tag2_positionCode}}" placeholder="(L | R | B)">
                            <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                        </mat-form-field> 
                        <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                          <mat-label>Animal Mass</mat-label>
                          <input matInput formControlName="tag2_positionCode" value="{{observationTuple.tag2_positionCode}}" placeholder="(L | R | B)">
                          <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                      </mat-form-field> 
                      </div>

                      <div style="display: flex; flex-direction: column;">
                      <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                        <mat-label>Total Mass</mat-label>
                        <input matInput formControlName="tag2_positionCode" value="{{observationTuple.tag2_positionCode}}" placeholder="(L | R | B)">
                        <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                    </mat-form-field> 
                    <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                      <mat-label>Curv. Length</mat-label>
                      <input matInput formControlName="tag2_positionCode" value="{{observationTuple.tag2_positionCode}}" placeholder="(L | R | B)">
                      <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                  </mat-form-field> 
                  <mat-form-field appearance="outline" class="full-width" style="padding-left: 1rem; padding-right: 1rem;">
                    <mat-label>Std Length</mat-label>
                    <input matInput formControlName="tag2_positionCode" value="{{observationTuple.tag2_positionCode}}" placeholder="(L | R | B)">
                    <mat-error *ngIf="hasError('mark1_positionCode', 'invalidMarkPositionCode')">Can only be ["LRB" "LR" "RB" "LB" "L" "R" "B"]</mat-error>
                </mat-form-field> 
                      </div>
              </div>

                        </mat-card>
                        
                    <div>




            

        </div>


<!-- --------------------------------------------------------------------------------------------------------  -->
<!-- --------------------------------------------------------------------------------------------------------  -->


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Request Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 style="text-align:center;">Modal for choosing Seals not yet built, select seal number instead:</h4>
          <div>
            <input class="form-control" type="text" placeholder="Enter a Number">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
