.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 400px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.full-width {
  width: 100%;
}