.outer-most-container {
    border: 1px solid black;
    height: 300px;
    display: flex;
}

.title-container {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.outer-filter-container {
    border: 1px solid red;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.positioned-filter-container {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.filter-row {
    border: 1px solid blue;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter-row-item {
    flex: 1;
    border: 1px solid orange;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}