
<h1 class="title is-2 title-container">All Observations</h1>
<div class="outer-most-container">
    <div class="outer-filter-container">
        <div class="positioned-filter-container">
            <div class="filter-row">
                <h1>Add Filter:</h1>
            </div>
            <div class="filter-row">
                <div class="filter-row-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="filter-row-item">
                    <form>
                        <div>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </form>
                </div>
            </div>
            <div class="filter-row">
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
    <div class="outer-filter-container">
        
    </div>
</div>