<h1 class="title is-2 title-container">Seal #x</h1>
<div class="outer-most-container">
    <div class="outer-filter-container">
        <div class="positioned-filter-container">
            <div class="filter-row">
              
            </div>
        </div>
    </div>
    <div class="outer-filter-container">
        <div class="positioned-filter-container">
            <div class="filter-row sized">
                <h1>Active Filters:</h1>
            </div>
            <div class="filter-row">
                <app-filter-block style="width:100%; height:50%"></app-filter-block>
            </div>
        </div>
    </div>
</div>
