<h1 class="title is-2 title-container">Account Information for Request</h1>
<!-- <div class="outer-most-container">
    <div class="outer-filter-container">
        

        <div class="positioned-filter-container" [formGroup]="form">
            <div class="filter-row">
              <div class="filter-row-item">
                <h1 class="title is-3">First Name:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">Last Name:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">Username:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">Password:</h1>
              </div>
              <div class="filter-row-item">
                <h1 class="title is-3">Confirm Password:</h1>
              </div>
            </div>
            <div class="filter-row">

              <div class="filter-row-item">
                <input formControlName="firstName_fControl" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
              </div>

              <div class="filter-row-item">
                <input formControlName="lastName_fControl" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
              </div>

              <div class="filter-row-item">
                <input formControlName="username_fControl" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
              </div>

              <div class="filter-row-item">
                <input formControlName="password_fControl" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
              </div>

              <div class="filter-row-item">
                <input formControlName="passwordForCheck_fControl" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password Again">
              </div>

            </div>
            <div class="filter-row">
              <div class="filter-row-item">

              </div>
              <div class="filter-row-item">
              
              </div>
              <div class="filter-row-item">
              
              </div>
              <div class="filter-row-item">
            
              </div>
              <div class="filter-row-item">
            
              </div>
            </div>
        </div>


       
        

    </div>
</div> -->


<!-- form using angular materials -->
<div class="container">
  <form [formGroup]="form">
    <p>
      <mat-form-field>
        <mat-label> First Name: </mat-label>
        <input matInput formControlName="firstName" value="{{newUser.firstName}}" class="input" type="text" placeholder="Text input">
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <mat-label> Last Name: </mat-label>
        <input matInput formControlName="lastName" value="{{newUser.lastName}}" class="input" type="text" placeholder="Text input">
      </mat-form-field>
    </p>
      
    <p>
      <mat-form-field>
        <mat-label> Username: </mat-label>
        <input matInput formControlName="email" value="{{newUser.email}}"  class="input" type="text" placeholder="Text input">
      </mat-form-field>
    </p>
      
    <p>
      <mat-form-field>
        <mat-label> Password: </mat-label>
        <input matInput formControlName="password" value="{{newUser.password}}"  class="input" type="text" placeholder="Text input">
      </mat-form-field>
    </p>
      
    <p>
      <mat-form-field>
        <mat-label> Confirm Password: </mat-label>
        <input matInput formControlName="passwordConfirm" value="{{newUser.passwordConfirm}}"  class="input" type="text" placeholder="Text input">
      </mat-form-field>
    </p>


    

  
  </form>
</div>
  


<button type="button" class="btn btn-success button-right" (click)="submitUserAccountRequest()">Submit</button>

<!-- old version which still has the router redirect -->
<!-- <button type="button" class="btn btn-success button-right" (click)="submitUserAccountRequest()" routerLink="/sign-in">Submit</button> -->

<!-- <button type="button" class="btn btn-success button-right" data-toggle="modal" data-target="#exampleModal">Submit</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your account has been requested and an email will be sent with information soon!
      </div>
      <div class="modal-footer">
        <button routerLink="/sign-in" type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <button type="button" class="btn btn-danger button-left" routerLink="/sign-in">Cancel</button>

