<h1 class="title is-2 title-container">Account Information for Request</h1>

<!-- form using angular materials -->
<div class="container">

  
    <form [formGroup]="form">

      <div class="row">
      
        <!-- left column -->
        <div class="col-md-4"></div>

        <!-- middle column -->
        <div class="col-md-4 card">


          <div class="input-section">
            <p>
              <mat-form-field class="full-width">
                <mat-label> First Name: </mat-label>
                <input matInput formControlName="firstName" value="{{newUser.firstName}}" class="input" type="text" placeholder="Text input">
                <mat-error *ngIf="hasError('firstName', 'required')"> This field is required. </mat-error> 
              </mat-form-field>
            </p>
            
            <p>
              <mat-form-field class="full-width">
                <mat-label> Last Name: </mat-label>
                <input matInput formControlName="lastName" value="{{newUser.lastName}}" class="input" type="text" placeholder="Text input">
                <mat-error *ngIf="hasError('lastName', 'required')"> This field is required. </mat-error> 
              </mat-form-field>
            </p>
              
            <p>
              <mat-form-field class="full-width">
                <mat-label> Email: </mat-label>
                <input matInput formControlName="email" value="{{newUser.email}}"  class="input" type="text" placeholder="Text input">
                <mat-error *ngIf="hasError('email', 'required')"> This field is required. </mat-error> 
              </mat-form-field>
            </p>
              
            <p>
              <mat-form-field class="full-width">
                <mat-label> Password: </mat-label>
                <input matInput formControlName="password" value="{{newUser.password}}"  class="input" type="text" placeholder="Text input">
                <mat-error *ngIf="hasError('password', 'required')"> This field is required. </mat-error> 
                
              </mat-form-field>
            </p>
              
            <p>
              <mat-form-field class="full-width">
                <mat-label> Confirm Password: </mat-label>
                <input matInput formControlName="passwordConfirm" value="{{newUser.passwordConfirm}}" [errorStateMatcher]="passwordErrorStateMatcher"  class="input" type="text" placeholder="Text input">
                <mat-error *ngIf="hasError('passwordConfirm', 'required')"> This field is required. </mat-error> 
                <mat-error *ngIf="form.hasError('passwordPairMismatch')"> Passwords must match. </mat-error>
              </mat-form-field>
            </p>
          </div>


          <div class="button-section">
            <button mat-button class="mat-raised-button mat-primary" [disabled]="form.invalid" (click)="submitUserAccountRequest()" data-toggle="modal" data-target="#exampleModal">Submit</button>
            <button mat-button class="mat-raised-button"             routerLink="/sign-in">Cancel</button> 
          </div>
        </div>

        <!-- right column -->
        <div class="col-md-4"></div>

      </div>

    </form>
  

  <!-- One submit for ... -->
  
  
</div>
  



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your account has been requested and an email will be sent with information soon!
      </div>
      <div class="modal-footer">
        <button routerLink="/sign-in" type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  

