<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign In</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="email" #userName required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPassword required>
            </div>
            <!-- Calling SignIn Api from AuthService -->
            <br>
            <div class="formGroup">
                <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>

            <!-- <div class="forgotPassword">
                <span routerLink="/forgot-password">Forgot Password?</span>
            </div> -->
            <div class="formGroup">
                <input type="button" class="btn btn-danger" value="Log Out" (click)="authService.SignOut()">
            </div>
        </div>
        <!-- <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div> -->
    </div>
</div>
