.log {
  width: 25%;
  border-radius: 5px;
  margin: 2px;
}

.btn-light-blue {
  background-color: #63C2DE;
}

.btn-light-red {
  background-color: #F86C6B;
}

.btn {
  color: white;
  font-weight: bold;
}

.user-info {
  width: 60%;

}

input[type=text], input[type=password] {
    text-align:center;
    display: block;
    margin: 0 auto 1em auto;
    padding: 5px;
}

.outer-most-container {
  border: 1px solid black;
  height: 60px;
  display: flex;
  padding-top: 1%;
  align-items: center;
  justify-content: center;
}

.inner-most-container {
  border: 1px solid black;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}


.img-background {
  background-image: url(../../assets/elephant-seal-family.jpg);
  background-color: lightblue;
  height: 100%;
  
}

.form-box {
  background-color: white;
}