  <div class="center-content">
    <div><h1>NOSES Menu:</h1></div>
  <div class="tiles-container">
    <div class="tile">
      <a routerLink = "/all-observations">
        <div class="tile-text">
          <h1>All Observations</h1>
        </div>
        <div class="tile-img">
          <a href="https://imgur.com/JgnzOAL"><img class="tile-img" src="https://imgur.com/67V6ENX.png" title="source: imgur.com" /></a>
        </div>
      </a>
    </div>
    <div class="tile">
      <a routerLink = "/citizen-sci-bulk-upload">
        <div class="tile-text">
          <h1>File Upload</h1>
        </div>
        <div class="tile-img">
          <a href="https://imgur.com/JgnzOAL"><img class="tile-img" src="https://imgur.com/xgKF9Mg.png" title="source: imgur.com" /></a>
        </div>
      </a>
    </div>
    <div class="tile">
      <a routerLink = "/new-observation">
        <div class="tile-text">
          <h1>New Observation</h1>
        </div>
        <div class="tile-img">
          <a href="https://imgur.com/JgnzOAL"><img class="tile-img" src="https://imgur.com/N93xSci.png" title="source: imgur.com" /></a>
        </div>
      </a>
    </div>
    <div class="tile" *ngIf="isAdmin">
      <a routerLink = "/admin-portal">
        <div class="tile-text">
          <h1>Admin Portal</h1>
        </div>
        <div class="tile-img">
          <a href="https://imgur.com/JgnzOAL"><img class="tile-img" src="https://imgur.com/FyB4C7T.png" title="source: imgur.com" /></a>
        </div>
      </a>
    </div>
  </div>
</div>
