<h1 class="title is-2 title-container">All Observations</h1>
<div class="outer-most-container">
    <div class="outer-filter-container">
        <div class="positioned-filter-container-left">
            <div class="filter-row">
            </div>
            <div class="filter-row">
            </div>
        </div>
        <div class="positioned-filter-container-left">
            <div class="filter-row border border-dark">
              <a routerLink = "/all-observations">
                <p class="title" style="text-align:center">All Observations</p>
                <a href="https://imgur.com/JgnzOAL"><img src="https://i.imgur.com/JgnzOAL.png" title="source: imgur.com" /></a>              
              </a>
            </div>
            <div class="filter-row border border-dark">
                <a routerLink = "/all-observations">
                  <p class="title" style="text-align:center">Add Observations</p>
                  <a href="https://imgur.com/JgnzOAL"><img src="https://i.imgur.com/JgnzOAL.png" title="source: imgur.com" /></a>              
                </a>
              </div>
        </div>
        <div class="positioned-filter-container-right">
            <div class="filter-row border border-dark">
              <a routerLink = "/all-observations">
                <p class="title" style="text-align:center">Citizen Scientist File Upload</p>
                <a href="https://imgur.com/JgnzOAL"><img src="https://i.imgur.com/JgnzOAL.png" title="source: imgur.com" /></a>              
              </a>
            </div>
            <div class="filter-row border border-dark">
                <a routerLink = "/all-observations">
                  <p class="title" style="text-align:center">Admin Portal</p>
                  <a href="https://imgur.com/JgnzOAL"><img src="https://i.imgur.com/JgnzOAL.png" title="source: imgur.com" /></a>              
                </a>
              </div>
        </div>
        <div class="positioned-filter-container-right">
            <div class="filter-row">
            </div>
            <div class="filter-row">
            </div>
        </div>
    </div>
</div>  
