

.mybtn-container {
  padding: 15px;
}

.no-margin-label {
    margin-bottom: 0px;
}

.padding-left-25 {
  padding-left:25px;
}

.row-for-button {
  height: 40px;
  background-color: blue;
}

.no-side-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.jumbotron {
    padding: 2rem 1rem;
}



.center-me{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title-container {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

// .table-fixed {
//     height: 300px;
//     overflow-y: auto;
//     width: 100%;
// }