/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* there is a bug preventing the body from taking 100% height unless using view hundredths units */
html, body {
  //min-height: 100vh;
  height: 100%;
  //overflow: hidden;
  margin: 0;
  padding:0;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.mat-header-cell {
  font-size: 14px;
  color: #2D333A;
}

.add-obs {
  background-color: #42f483;
}

.light-blue {
  background-color: #63C2DE;
}

.spec-green {
  background-color: #42f483;
}


