.navbar-anchor:hover {
  text-decoration: none;
}

.row {
  width: 100%;
}

.menu-bar-right-section {
  float: right;
}

.menu-bar-right-section a {
    float: left;
}

.flex-spacer {
  flex-grow: 1;
}