<nav class="navbar mat-elevation-z6">

  <a mat-button="" routerLink="/menu" class="mat-button mat-button-base navbar-anchor"  >
    <span class="mat-button-wrapper">
      <img src="assets/cropped_silhouette_smaller_1.png" height="30" width="56" />
      <span class="product-name"> N.O.S.E.S. </span>
    </span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <!-- This thing will just fill up the space to create sections in the navbar -->
  <div class="flex-spacer"></div>

  <!-- all seals -->
  <a *ngIf="currentUserIsValid === true" mat-button="" routerLink="/dashboard" class="mat-button mat-button-base navbar-anchor"  >
      <span class="mat-button-wrapper">
        <span> All Seals </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
  </a>

  <!-- approve observations -->
  <a *ngIf="currentUserIsValid === true" mat-button="" routerLink="/approve-obs" class="mat-button mat-button-base navbar-anchor"  >
      <span class="mat-button-wrapper">
        <span> Staging </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
  </a>


  <!-- All Observations -->
  <a *ngIf="currentUserIsValid === true" mat-button="" routerLink="/all-observations" class="mat-button mat-button-base navbar-anchor"  >
      <span class="mat-button-wrapper">
        <span> All Observations </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
  </a>


  <!-- Single Observation Upload -->
  <a *ngIf="currentUserIsValid === true" mat-button="" routerLink="/new-observation" class="mat-button mat-button-base navbar-anchor"  >
      <span class="mat-button-wrapper">
        <span> Single Observation Upload </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
  </a>


  <!-- Bulk Observation Upload -->
  <a *ngIf="currentUserIsValid === true" mat-button="" routerLink="/citizen-sci-bulk-upload" class="mat-button mat-button-base navbar-anchor"  >
      <span class="mat-button-wrapper">
        <span> Bulk Observation Upload </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
  </a>


  <!-- Manage Accounts -->
  <a *ngIf="currentUserIsValid === true" mat-button="" routerLink="/manage-accounts" class="mat-button mat-button-base navbar-anchor"  >
      <span class="mat-button-wrapper">
        <span> Manage Accounts </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
  </a>


  <app-login-state></app-login-state>

  
</nav>